body{
    margin: 0%;
    /* padding:0%; */
    /* background-color: #192133; */
    font-family: roboto, sans-serif;
 }

#header{
    width: 100%;
    height: 120px;
    /* border: 1px solid red; */
    display: flex;
    background-color: rgb(112, 112, 218);
}

#logo{
    width: 100px;
    object-fit:cover;
    object-position:50% 50%;
    margin: auto;
    margin-left: 150px;
    /* border-radius: 0px 10px 10px 0px; */
}

#header>hr{
    height: 50%;
    margin: auto;
    margin-left: -1400px;
}

.cart_section{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    /* display: flex;
    flex-direction: column; */
}

.form_address>p {
    font-size: 14px;
    text-indent: 12px;
    color: #9d6b6b;
    height: 28px;
    line-height: 28px;
    background-color: #fff3f3;
}

.checkout_address {
    padding: 20px;
    border: 1px solid #e6e7e8;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    margin-top: 20px;
    /* display: none; */
}

.addressline .txt_label, .addressline2 .txt_label, .addressline_select .txt_label {
    width: 180px;
    text-align: right;
    padding-right: 16px;
    vertical-align: top;
    line-height: 44px;
    font-size: 14px;
    color: #333;
    display: inline-block;
}

.addressline input, .addressline2 input {
    height: 44px;
    width: 398px;
    text-indent: 12px;
    font-size: 14px;
    color: #333;
    border: 1px solid #e6e7e8;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    outline: none;
    background-color: #fff;
}

form, input, p, ul {
    margin: 10px;
    padding: 0;
    list-style-type: none;
}

.checkout_address .addr_btn button {
    width: 140px;
    height: 44px;
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 44px;
    font-size: 20px;
}

.default_addr, .addr_btn{
    margin-left: 240px;
}

.saves{
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
}

.cancel{
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
}

.product {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 20px;
    
}

/* #product_list {
    padding: 15px;
} */

.product_box{
    padding: 20px;
    border: 1px solid #e6e7e8;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
}

.place_title {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 20px;
}

.shipp_methodes_tit span.shipp_methodes_titl {
    width: 420px;
    text-indent: 30px;
}

.shipp_methodes_tit span {
    font-size: 14px;
    color: #999;
    line-height: 56px;
    width: 440px;
    text-align: left;
    float: left;
}

.shipping_box{
    padding: 20px;
    border: 1px solid #e6e7e8;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    margin-top: 20px;
    /* display: none; */
}

.ship_insur span {
    font-size: 14px;
    text-indent: 10px;
    color: #333;
    text-align: left;
    display: inline-block;
}

.ship_insur p {
    font-size: 12px;
    color: #999;
    margin-top: 6px;
    width: 100%;
    line-height: 20px;
}

.ship_insur .jbTipSpan .msg_i {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background-color: #b5b5b5;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-indent: 0;
    line-height: 16px;
    border-radius: 50%;
    display: inline-block;
}

#InsuranceTotal{
    line-height: 20px;
    font-weight: bolder;
}

#checkbox_1{
    position: relative;
    width: 16px;
    height: 16px;
    /* padding-left: 200px; */
}

.ship_insur .msg_i{
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background-color: #b5b5b5;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-indent: 0;
    line-height: 16px;
    border-radius: 50%;
    display: inline-block;
}

.shopcart_foot {
    padding: 35px 40px;
    width: 95%;
    border: 1px solid #e6e7e8;
    margin: 38px auto 20px auto;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}

.shop_apply .shop_coupon {
    display: block;
    color: #999;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
}

.code_text {
    width: 480px;
    /* position: absolute; */
    left: 0;
    top: 0;
    height: 34px;
    text-indent: 10px;
    border: 1px solid #e6e7e8;
    border-radius: 4px 0 0 4px;
    /* border-right: 0; */
    outline: 0;
    box-sizing: border-box;
}

#gadget_btn{
    width: 50px;
    height: 34px;
}

/* .shopcart_foot_place .grand_totall {
    margin: 20px 0;
    font-size: 14px;
    padding-top: 10px;
} */

#footer{
    
    text-align: center;
    background-color: #f1f6fd;
}
#footer>p{
    color: #888;
}





