#login_head{
    border:2px solid #1679fd;
    padding: 0px;
    margin: 0px;
    height:125px;
    background-color: #1679fd;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_head>div{
font-size: 40px;
}
#body{
    border: 0px solid green;
    height:700px;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    background-image: url("https://img.gkbcdn.com/bn/2207/750-62c525372b40c92a04c94f48._p1_.jpg");

}
#login{
    /* display: none; */
    border: 0px solid black;
    height:60%;
    width: 30%;
    padding: 20px;
    background-color: white;
 /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
 box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#login>h3{
    font-style: Open Sans;
}
#forgot_password{
    border-bottom: 1px solid grey;
    margin:20px
}
#sign_in_btn{
    border:1px solid #1679fd;
    margin-top: 10px;
    height:40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1679fd;
    color: white;
}
#new_account{
    border:0px solid #1679fd;
    margin-top: 10px;
    height:40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e5e6;
    color: rgb(118, 114, 114);
}
#or{
    text-align: center;
}
#email{
    width:420px;
    height:35px;
    color:grey
}
#password{
    width:420px;
    height:35px;
    color:grey
}
#google_img{
display: flex;
justify-content: center;
}
