#navbar{
    background-image: linear-gradient( #2f8efb, #0066fe);
    padding: 0px 50px;
}
#nav_mid{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
#nav_mid img{
    width:200px;
    margin-bottom: -15px;
}

#hamburg{
    margin-right: 3px;
}

a{
    text-decoration: none;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.beat_logo{
    animation: beat .32s infinite alternate;
    transform-origin: center;
    width:100px;
}

@keyframes beat{
    to { transform: scale(1.4);}
}

.nav_bottom {
  background-color: transparent;
  padding-bottom: 0px;
}

.nav_bottom a {
  float: left;
  font-size: 16px;
  color: white;
  text-align:center;
  padding: 14px 16px 20px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left:4px;  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  color: white;
  padding:12px 14px 4px 14px;
  background-color: #428dff;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 3px 4px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #768ac8;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.beat_logo{
    overflow: hidden;
    width:70px;
    margin-left:40px;
    margin-top: -25px;
    margin-bottom: -10px;
}

#search_box{
    height:40px;
}

#deal_div{
  border: 2px solid grey;
  height:200px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap:2%
}
#deal_div>div{
  border: 2px solid blue;

}
#deal_div>div>img{
  height: 120px;
  width: 100%;
}
#deal_div>p{
  padding-left:20px;
}
#trending{
  border:2px solid green;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:1%;
  height: auto;
}
.products{
  border:2px solid red
}
#new{
  border: 2px solid greenyellow;
  display: flex;
}
#photo{
  border: 2px solid blueviolet;
  flex:auto
}
#anime1{
  border: 2px solid red;
  flex:20
}
#enjoy_life{
  border:2px solid green;
  height:550px;
  display: flex;
}
#left{
  border:2px solid rgb(254, 67, 98);
  flex:25
}
#right{
  border:2px solid blue;
  flex:75
}
#left>img{
  height:550px ;
  border-radius: 20px;
}
#right{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap:2%
}
#right>div{
  border: 2px solid;
  background-color: #768ac8;
}
.pics{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px
}
.pics1{
  border: 2px solid brown;
}
.pics2{
  border: 2px solid green;
}
